body {
  background: #1e1f26;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    overflow: visible;
    #chocolate_box {
      cursor: pointer;
      #top {
        transition: transform 1s ease;
      }
      &:hover {
        #top {
          transform: translate(40px, -25px) rotate(10deg);
          transition: transform 1s ease;
        }
      }
    }
  }
}
.text {
  position: absolute;
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
  text-align: center;
  line-height:25px;
  top:60px;
  left:px;
  color: #FFFFFF;
}
.text2 {
  position: absolute;
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
  text-align: center;
  line-height:25px;
  top:90px;
  left:px;
  color: #FFFFFF;
}